NODE_ENV=development
PORT=3000
APP_URL=http://localhost:5173
DATABASE_URL=postgresql://postgres.TU_PROJECT_REF:TU_PASSWORD@aws-0-us-east-1.pooler.supabase.com:6543/postgres?pgbouncer=true
JWT_SECRET=CAMBIA_ESTO_POR_UN_TEXTO_LARGO_DE_64_CARACTERES_MINIMO
JWT_EXPIRATION=3600
BCRYPT_ROUNDS=10
SUPERADMIN_EMAIL=admin@celider10.local
SUPERADMIN_PASSWORD=CambiaEstaClave123
MAX_EVENTOS_DISTRITO=30
